@media screen and (max-width:930px) {    

@font-face {
    font-family: 'Comfortaa-Regular';
    src: url(../fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url(../fonts/Comfortaa-Bold.ttf);
}

@import url(default.css);

body {
    max-width: 768px;
    margin: 0 auto;
}

header {
    display: flex;
    width: 768px;
    margin: 0 auto;
    background-color: #FDFDFD;
    align-items: center;
}

nav {
    display: none;
}

div.adapt-nav {
    margin-left: 280px;
    display: flex;
}

img.logo {
    margin-left: 40px;
}

div.logoText {
    font-family: Comfortaa-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    margin-left: 32px;
    color: #FF9432;
    margin-right: 133px;
}

div.logoText p:last-child {
    text-transform: capitalize;
    margin-top: -30px;
}

nav {
    margin: 0 auto;
    margin-top: 40px;
}

ul.topNav {
    list-style-type: none;
    font-family: Comfortaa-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

ul.topNav li {float: left;}

ul.topNav li a {
    display: inline-block;
    text-align: center;
    padding-right: 77px;
    color: black;
    text-decoration: none;
}

ul.topNav li a.quest-orange {
    color: #FF9432;
}

.appointment_container {
    display: flex;
    height: 920px;
    width: 768px;
    background:url(../img/BGPhoto768.png);
    justify-content: center;
    margin-bottom: 0px;
}

.appointment {
    display: flex;
    background: #FFFFFF;
    width: 670px;
    height: 330px;
    border-radius: 50px;
    margin: 60px 0 0px 0;
}

.border {
    width: 650px;
    height: 300px;
    border-radius: 50px;
    border: dashed 3px #FF9432;
    margin: 10px 8px 8px 8px;
    justify-content: center;
}

div.border p.vetClin {
    font-family: Comfortaa-Regular;
    font-size: 36px;
    margin-bottom: 0px;
    color: #FF9432;
}

div.border p {
    font-family: Comfortaa-Regular;
    font-size: 24px;
    text-align: center;
    display: inline-block;
    margin-bottom: 0px;
    margin-left: 40px;
}

div.border p.sampleText {
    margin-left: 0px;
}

div.border input.signUp {
    width: 324px;
    height: 44px;
    background: linear-gradient(90deg, #FF9432 0%, #FFD232 99.99%, rgba(255, 148, 50, 0) 100%, #FFCF24 100%);
    border-radius: 30px;
    border: 0px;
    font-family: Comfortaa-Regular;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: 25px;
}

div.border input.order {
    width: 324px;
    height: 44px;
    background: #FFFFFF;
    border-radius: 30px;
    border: 2px solid #FF9432;
    font-family: Comfortaa-Regular;
    font-size: 24px;
    line-height: 27px;
    color: #FF9432;
    margin-left: 25px;
    margin-bottom: 0px;
}

div.services {
    text-align: center;
    font-family: Comfortaa-Regular;
    font-size: 48px;
    margin: 0;
}

p.servP {
    display: flex;
    justify-content: center;
    font-family: Comfortaa-Regular;
    font-size: 36px;
    margin-top: 0px;
}

p.servP::before {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-right: 32px;
}

p.servP::after {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-left: 32px;
}

p.servP, p.servP::before, p.servP::after {
    display: inline-flex;
    align-items: center;
}

div.serviceItems {
    width: 768px;
    display: block;
    margin-bottom: 25px;
}

div.serviceItems div img {
    height: 153px;
    display: flex;
    margin: 0 auto;
}

div.serviceItems div {
    display: inline-block;
    width: 150px;
    margin-right: 50px;
    font-family: Comfortaa-Regular;
    font-weight: bold;
    font-size: 24px;
}

div.video {
    margin-right: 80px;
}

div.video iframe{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 676px;
    height: 384px;
}

div.questions {
    font-family: Comfortaa-Regular;
    font-style: normal;
    margin: 0px;
    text-align: center;
}

p.qQuestions {
    display: flex;
    justify-content: center;
    font-family: Comfortaa-Regular;
    font-size: 36px; 
}

p.qQuestions::before {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-right: 32px;
}

p.qQuestions::after {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-left: 32px;
}

p.qQuestions, p.qQuestions::before, p.qQuestions::after {
    display: inline-flex;
    align-items: center;
}

div.questionsItems {
    display: inline-block;
    margin-top: 30px;
    font-size: 28px;
    margin: 0px;
}

div.questionsItems div:first-child{
    float: left;
    margin-top: 10px;   
    width: 728px; 
}

div.questionsItems div{
    float: left;
    margin-left: 40px;
    margin-top: 40px;   
    width: 728px;
}


div.questionsItems div img{
    float: right;
}

p.specP {
    display: flex;
    justify-content: center;
    font-family: Comfortaa-Regular;
    font-size: 36px;
}

p.specP::before {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-right: 32px;
}

p.specP::after {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-left: 32px;
}

p.specP, p.specP::before, p.specP::after {
    display: inline-flex;
    align-items: center;
}

div.specialists {
    font-family: Comfortaa-Regular;
    font-style: normal;
    margin: 0 auto;
    margin-bottom: 0px;
    text-align: center;
}

div.specialistsItems {
    text-align: center;
    display: flex;
    margin-top: 30px;
    font-size: 20px;
}


div.specialistsItems div p.name {
    font-weight: bold;
}

div.specialistsItems div img {
    width: 170px;
    height: 170px;
    margin: 0 auto;
}

div.specialistsItems div.arrows img {
    width: 60px;
    height: 60px;
    margin-top: -90px;
}

div.mkAppointment {
    text-align: center;
}

div.mkAppointment p.priem {
    text-align: center;
    font-family: Comfortaa-Regular;
    font-size: 36px;
}

p.priem::before {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-right: 32px;
}

p.priem::after {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-left: 32px;
}

p.priem, p.priem::before, p.priem::after {
    display: inline-flex;
    align-items: center;
}

div.apr_content {
    display: flex;
    margin: auto;
    width: 767px;
    height: 1800px;
    background: #fdefe2;
    border-radius: 50px;
}

div.blanks_border {
    margin: auto;
    border: 2px dashed #FF9432;
    border-radius: 50px;
    width: 750px;
    height: 1770px;
}

div.blanks {
    display: inline-block;
    width: 504px;
    margin: 0px auto;
    height: 75px;
}

div.blanks input {
    width: 504px;
    height: 75px;
    font-family: Comfortaa-Regular;
    font-size: 36px;
    color: #000000;
    opacity: 0.5;
    border: 0px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 50px;
}

.your_pet {
    margin: 40px 0 0 70px;
    font-family: Comfortaa-Regular;
    font-size: 30px;
    text-align: left;
}

.your_pet ul {
    columns: 1;
    list-style-type: none;
    margin-bottom: 20px;
}

.your_pet ul li {
    padding: 12px;
}

.your_pet ul.radio li input {
    display: none;
}

.your_pet ul.radio li label::before {
    content: '';
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 2px solid #000000;
    border-radius: 32px;
    box-sizing: border-box;    
    margin-right: 32px;
    transform: translate(0%, 15%);
}

input[type=radio]:checked+label::before {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='8' viewBox='-4' fill='none' xmlns='http://www.w3.org/2000/svg%27%3e%3ccircle cx='4' cy='4' r='4' fill='black'/%3e%3c/svg%3e");
}   

.your_pet ul.department li input {
    display: none;
}

.your_pet ul.department li label::before {
    content: '';
    display: inline-block;
    width: 34px;
    height: 34px;
    border: 2px solid #000000;
    box-sizing: border-box;    
    margin-right: 32px;
    transform: translate(0%, 15%);
}

input[type=checkbox]:checked+label::before {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(../img/check_mark.svg);
} 

ul.date {
    margin: 0;
}

ul.date li {
    margin: 0px;
}

div.calendar {
    display: flex;
    margin-bottom: 0px;
}

div.calendar img{
    margin-left: 40px;
}

div.buttons {
    margin-top: 20px;
    display: inline-block;
    font-family: Comfortaa-Regular;
    font-size: 36px;
    justify-content: center;
}

div.buttons button.btn_sign {
    display: flex;
    justify-content: center;
    width: 360px;
    height: 86px;
    background: linear-gradient(90deg, #FF9432 0%, #FFCF24 100.09%);
    border-radius: 48px;
    text-align: center;
    border: 0px;
    margin-left: 120px;
}

div.buttons button.btn_clr { 
    display: flex;
    width: 272px;
    height: 86px;
    background: #FFFFFF;
    border: 3px solid #FF9432;
    border-radius: 48px;
    margin-top: 45px;
    margin-left: 160px;
}

div.buttons button {
    display: flex;
    align-items: center;
    text-align: center;
    font-family: Comfortaa-Regular;
    font-size: 36px;
}

div.contacts {
    font-family: Comfortaa-Regular;
    font-style: normal;
    font-size: 36px;
    margin: 100px auto 0 auto;
    text-align: center;
    align-items: center;
}

p.cont {
    display: flex;
    justify-content: center;
    font-family: Comfortaa-Regular;
    font-size: 48px;
}

p.cont::before {
    margin: auto;
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-right: 32px;
}

p.cont::after {
    margin: auto;
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-left: 32px;
}


div.info {
    display: inline-flex;
}


div.map {
    position: relative;
    width: 440px;
    height: 490px;
    background-image: url(../img/map768.png);
}

div.map img.heart {
    position: absolute;
    z-index: 2;
    top: 110px;
    left: 250px;
}

div.map img.shadow {
    position: absolute;
    z-index: 1;
    top: 225px;
    left: 270px;
}

div.cont {
    font-size: 20px;    
    width: 328px;
    height: 490px;
    background-color: #FF9432;
}

div.cont p {
    margin: 70px 0 0 20px;
    text-align: left;
    color: #FFFFFF;
}

div.cont p:first-child {
    margin: 45px 0 0 20px;
}

.p1 {
    width: 220px;;
}

.p2 {
    width: 190px;
}

.p3 {
    width: 255px;
}

.p4 {
    width: 250px;
}

footer {
    width: 100%;
    height: 160px;
    background: #864000;
    justify-content: center;
    text-align: center;
    margin-top: -12px;
}

footer div.socials {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 400px;
    padding-top: 60px;
}

footer p {
    text-align: center;
    font-family: Comfortaa-Regular;
    font-size: 18px;
    color: #FFFFFF;
}

/* pop-up */

.popup-bg {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
}

.popup {
    position: absolute;
    background: #ffffff;
    width: 620px;
    height: 700px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Comfortaa-Regular;
}

.popup-border {
    width: 600px;
    height: 680px;
    border-radius: 50px;
    border: 2px dashed #FF9432;
}

.order-a-call {
    display: flex;
    font-size: 36px;
    color: #FF9532;
    justify-content: center;
}

.order-a-call p{
    display: flex;
    font-size: 36px;
    color: #FF9532;
    margin-bottom: 10px;
}

.order-a-call img{
    position: absolute;
    top: 50px;
    right: 30px;
    cursor: pointer;
}

.inputs {
    display: inline-block;
}

.inputs li {
    display: block;
    justify-content: left;
    font-size: 28px;
    margin-bottom: 30px;
}

.inputs li span {
    margin-bottom: 10px;
}

.inputs li input{
    width: 500px;
    height: 70px;
    background: #FFF9F3;
    border: 2px solid #FF9432;
    border-radius: 50px;
    font-family: Comfortaa-Regular;
    font-size: 30px;
    line-height: 33px;
    color: #000000;
    padding-left: 30px;
}

.inputs li:last-child input {
    height: 120px ;
}

div.popup_order {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.popup_btn_order {
    width: 290px;
    height: 70px;
    align-items: center;
    justify-content: center;
    font-family: Comfortaa-Regular;
    font-size: 24px;
    color: #F4F5FF;
    background: linear-gradient(90deg, #FF9432 0%, #FFD232 100%);
    border: 0px;
    border-radius: 50px;
}

.no-scroll {
    overflow-y: hidden;
}
}