html {
    height:100%;
}

  body {
    background-color: black;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle1,
  .circle2,
  .circle3,
  .circle4 {
    border-radius: 0%;
    height: 70px;
    width: 70px;
    margin: 8%;
    transform:rotateX(-90deg) translateZ(0px) rotate(180deg);
  }

  .donut {
    border: 1px solid  #F0FFFF;
    border-radius: 150px;
    height:300px;
    width:300px;
    box-shadow: inset #57A8FA 0 0 20px 5px,
                #57A8FA 0 0 22px 7px;
  }
   
   .orbit1 {
    position: absolute;
    right: 41%;
    top: 31%;
    animation: Orbita 3s linear infinite;
  } 
  
  .orbit2 {
    position: absolute;
    animation: Orbita2 3s linear infinite; 
    right: 41%;
    top: 31%;
  }

   .orbit3 {
    position: absolute;
    animation: Orbita3 3s linear infinite; 
    right: 41%;
    top: 31%;
  } 

  .orbit4 {
    position: absolute;
    animation: Orbita4 3s linear infinite; 
    right: 41%;
    top: 31%;
  }

    @keyframes Orbita {
        0% { transform: rotate(0deg) translateX(250px) rotate(0deg); border-radius: 0%;
            background: orange;}
        30% { border-radius: 20%;
            background: red;}
        50% { border-radius: 50%;
            background: blue;}
        80% { border-radius: 20%;}
        100% { transform: rotate(360deg) translateX(250px) rotate(0deg); border-radius: 0%;
            background: orange;}
        }
    
       @keyframes Orbita2 {
            0% { transform: rotate(30deg) translateX(250px) rotate(0deg);  border-radius: 0%;
                background: orange;}
            30% { border-radius: 20%;
                background: red;}
            50% { border-radius: 50%;
                background: blue;}
            80% { border-radius: 20%;}
            100%   { transform: rotate(390deg) translateX(250px) rotate(0deg);  border-radius: 0%;
                background: orange;}
        }
      
        @keyframes Orbita3 {
            0% { transform: rotate(60deg) translateX(250px) rotate(0deg);  border-radius: 0%;
                background: orange;}
            30% { border-radius: 20%;
                background: red;}
            50% { border-radius: 50%;
                background: blue;}
            80% { border-radius: 20%;}
            100%   { transform: rotate(420deg) translateX(250px) rotate(0deg);  border-radius: 0%;
                background: orange;}
        }
        
        @keyframes Orbita4 {
            0% { transform: rotate(90deg) translateX(250px) rotate(0deg);  border-radius: 0%;
                background: orange;}
            30% { border-radius: 20%;
                background: red;}
            50% { border-radius: 50%;
                background: blue;}
            80% { border-radius: 20%;}
            100%   { transform: rotate(450deg) translateX(250px) rotate(0deg);  border-radius: 0%;
                background: orange;}
        }   