@media screen and (max-width:520px) {    

    @font-face {
        font-family: 'Comfortaa-Regular';
        src: url(../fonts/Comfortaa-Regular.ttf);
    }
    
    @font-face {
        font-family: 'Comfortaa-Bold';
        src: url(../fonts/Comfortaa-Bold.ttf);
    }
    
    @import url(default.css);
    
    body {
        max-width: 375px;
        margin: 0 auto;
    }
    
    header {
        display: flex;
        width: 375px;
        margin: 0 auto;
        background-color: #FDFDFD;
        align-items: center;
    }
    
    nav {
        display: none;
    }
    
    div.adapt_nav {
        margin-left: -50px;
        display: flex;
    }
    
    img.logo {
        margin-left: 20px;
    }
    
    div.logoText {
        font-family: Comfortaa-Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 40px;
        margin-left: 32px;
        color: #FF9432;
        margin-right: 133px;
    }
    
    div.logoText p:last-child {
        text-transform: capitalize;
        margin-top: -30px;
    }
    
    ul.topNav {
        list-style-type: none;
        font-family: Comfortaa-Regular;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: black;
    }
    
    ul.topNav li {float: left;}
    
    ul.topNav li a {
        display: inline-block;
        text-align: center;
        padding-right: 77px;
        color: black;
        text-decoration: none;
    }
    
    ul.topNav li a.quest-orange {
        color: #FF9432;
    }
    
    .appointment_container {
        display: flex;
        width: 375px;
        height: 755px;
        background:url(../img/BGPhoto375.png);
        justify-content: center;
        margin-bottom: 0px;
    }
    
    .appointment {
        display: flex;
        background: #FFFFFF;
        width: 315px;
        height: 415px;
        border-radius: 50px;
        margin: 60px 0 0px 0;
    }
    
    .border {
        width: 295px;
        height: 390px;
        border-radius: 50px;
        border: dashed 3px #FF9432;
        margin: 8px 8px 8px 8px;
        justify-content: center;
    }
    
    div.border p.vetClin {
        font-family: Comfortaa-Regular;
        font-size: 28px;
        line-height: 31px;
        margin-bottom: 25px;
        color: #FF9432;
        text-align: center;
        margin-left: 0px;
        margin-top: 30px;
    }
    
    div.border p {
        font-family: Comfortaa-Regular;
        font-size: 20px;
        text-align: center;
        margin: 0px;
        text-align: center;
        margin-top: 10px;
    }
    
    div.border p.sampleText {
        margin-left: 0px;
    }
    
    div.border input.signUp {
        width: 245px;
        height: 33px;
        background: linear-gradient(90deg, #FF9432 0%, #FFD232 99.99%, rgba(255, 148, 50, 0) 100%, #FFCF24 100%);
        border-radius: 30px;
        border: 0px;
        font-family: Comfortaa-Regular;
        font-size: 16px;
        color: #FFFFFF;
        margin-top: 40px;
        margin-left: 10px;
    }
    
    div.border input.order {
        width: 245px;
        height: 33px;
        background: #FFFFFF;
        border-radius: 30px;
        border: 2px solid #FF9432;
        font-family: Comfortaa-Regular;
        font-size: 16px;
        line-height: 27px;
        color: #FF9432;
        margin-left: 10px;
        margin-bottom: 0px;
        margin-top: 40px;
    }
    
    div.services {
        text-align: center;
        font-family: Comfortaa-Regular;
        font-size: 48px;
        margin: 0;
    }
    
    p.servP {
        display: flex;
        justify-content: center;
        font-family: Comfortaa-Regular;
        font-size: 24px;
        margin-top: 0px;
    }
    
    p.servP::before {
        content: '';
        display: inline-block;
        width: 38px;
        height: 3px;
        background-color: #FF9432;
        margin-right: 12px;
    }
    
    p.servP::after {
        content: '';
        display: inline-block;
        width: 38px;
        height: 3px;
        background-color: #FF9432;
        margin-left: 12px;
    }
    
    p.servP, p.servP::before, p.servP::after {
        display: inline-flex;
        align-items: center;
    }
    
    div.serviceItems {
        width: 375px;
        display: block;
        margin-bottom: 25px;
    }
    
    div.serviceItems div img {
        height: 103px;
        display: flex;
        margin: 0 auto;
    }
    
    div.serviceItems div {
        display: inline-block;
        width: 140px;
        margin-right: 20px;
        font-family: Comfortaa-Regular;
        font-weight: bold;
        font-size: 14px;
    }
    
    div.video {
        justify-content: center;
    }
    
    div.video iframe{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 360px;
        height: 200px;
    }
    
    div.questions {
        font-family: Comfortaa-Regular;
        font-style: normal;
        margin: 0px;
        text-align: center;
    }
    
    p.qQuestions {
        display: flex;
        justify-content: center;
        font-family: Comfortaa-Regular;
        font-size: 24px; 
    }
    
    p.qQuestions::before {
        content: '';
        display: inline-block;
        width: 38px;
        height: 3px;
        background-color: #FF9432;
        margin-right: 12px;
    }
    
    p.qQuestions::after {
        content: '';
        display: inline-block;
        width: 38px;
        height: 3px;
        background-color: #FF9432;
        margin-left: 12px;
    }
    
    p.qQuestions, p.qQuestions::before, p.qQuestions::after {
        display: inline-flex;
        align-items: center;
    }
    
    div.questionsItems {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        font-size: 18px;
        margin: 0px;
        align-items: center;
    }
    
    div.questionsItems div{
        display: flex;
        justify-content: center;
        margin-left: 20px;
        margin-top: 20px;   
        width: 330px;
    }

    div.questionsItems div:first-child{
        float: left;
        margin-left: 20px;
        margin-top: 20px;   
        width: 330px;
    }
    
    div.questionsItems div span {
        width: 250px;
    }

    div.questionsItems div img{
        float: right;
    }
    
    p.specP {
        display: flex;
        justify-content: center;
        font-family: Comfortaa-Regular;
        font-size: 24px;
    }
    
    p.specP::before {
        content: '';
        display: inline-block;
        width: 38px;
        height: 3px;
        background-color: #FF9432;
        margin-right: 12px;
    }
    
    p.specP::after {
        content: '';
        display: inline-block;
        width: 38px;
        height: 3px;
        background-color: #FF9432;
        margin-left: 12px;
    }
    
    p.specP, p.specP::before, p.specP::after {
        display: inline-flex;
        align-items: center;
    }
    
    div.specialists {
        font-family: Comfortaa-Regular;
        font-style: normal;
        margin: 0 auto;
        margin-bottom: 0px;
        text-align: center;
    }
    
    div.specialistsItems {
        text-align: center;
        margin-top: 30px;
        font-size: 20px;
        display: flex;
    }

    div.specialistsItems div {
        display: none;
    }

    div.specialistsItems div.arrows {
        display: flex;
    }

    div.specialistsItems div.mujik {
        text-align: center;
        font-size: 20px;
        display: block;
    }   
    
    div.specialistsItems div p.name {
        font-weight: bold;
    }
    
    div.specialistsItems div img {
        width: 170px;
        height: 170px;
        margin: 0 auto;
    }
    
    div.specialistsItems div.arrows img {
        width: 60px;
        height: 60px;
        margin-top: -90px;
    }
    
    div.mkAppointment {
        text-align: center;
    }
    
    div.mkAppointment p.priem {
        text-align: center;
        font-family: Comfortaa-Regular;
        font-size: 24px;
    }
    
    p.priem::before {
        content: '';
        display: inline-block;
        width: 38px;
        height: 3px;
        background-color: #FF9432;
        margin-right: 12px;
    }
    
    p.priem::after {
        content: '';
        display: inline-block;
        width: 38px;
        height: 3px;
        background-color: #FF9432;
        margin-left: 12px;
    }
    
    p.priem, p.priem::before, p.priem::after {
        display: inline-flex;
        align-items: center;
    }
    
    div.apr_content {
        display: flex;
        margin: auto;
        width: 330px;
        height: 1400px;
        background: #fdefe2;
        border-radius: 50px;
    }
    
    div.blanks_border {
        margin: auto;
        border: 2px dashed #FF9432;
        border-radius: 50px;
        width: 310px;
        height: 1380px;
    }
    
    div.blanks {
        display: inline-block;
        width: 290px;
        margin: 0px auto;
        height: 65px;
    }
    
    div.blanks input {
        width: 240px;
        height: 45px;
        font-family: Comfortaa-Regular;
        font-size: 18px;
        color: #000000;
        opacity: 0.5;
        border: 0px;
        background: #FFFFFF;
        border-radius: 10px;
        margin-top: 50px;
    }
    
    .your_pet {
        margin: 40px 0 0 20px;
        font-family: Comfortaa-Regular;
        font-size: 17px;
        text-align: left;
    }
    
    .your_pet ul {
        columns: 1;
        list-style-type: none;
        margin-bottom: 15px;
    }
    
    .your_pet ul li {
        padding: 12px;
    }
    
    .your_pet ul.radio li input {
        display: none;
    }
    
    .your_pet ul.radio li label::before {
        content: '';
        display: inline-block;
        width: 34px;
        height: 34px;
        border: 2px solid #000000;
        border-radius: 32px;
        box-sizing: border-box;    
        margin-right: 32px;
        transform: translate(0%, 15%);
    }
    
    input[type=radio]:checked+label::before {
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='8' viewBox='-4' fill='none' xmlns='http://www.w3.org/2000/svg%27%3e%3ccircle cx='4' cy='4' r='4' fill='black'/%3e%3c/svg%3e");
    }   
    
    .your_pet ul.department li input {
        display: none;
    }
    
    .your_pet ul.department li label::before {
        content: '';
        display: inline-block;
        width: 34px;
        height: 34px;
        border: 2px solid #000000;
        box-sizing: border-box;    
        margin-right: 32px;
        transform: translate(0%, 15%);
    }
    
    input[type=checkbox]:checked+label::before {
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url(../img/check_mark.svg);
    } 
    
    ul.date {
        margin: 0;
    }
    
    ul.date li {
        margin: 0px;
    }
    
    div.calendar {
        display: flex;
        margin-bottom: 0px;
    }
    
    div.calendar img{
        margin-left: 20px;
    }
    
    div.buttons {
        margin-top: 0px;
        display: inline-block;
        font-family: Comfortaa-Regular;
        font-size: 18px;
        justify-content: center;
    }
    
    #any {
        width: 320px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 10px;
        font-family: Comfortaa-Regular;
        font-size: 36px;
        color: #000000;
        opacity: 0.5;
        border: 0px;
        background: #FFFFFF;
        border-radius: 10px;
        margin-left: -10px;
    }

    div.buttons button.btn_sign {
        display: flex;
        justify-content: center;
        width: 220px;
        height: 55px;
        background: linear-gradient(90deg, #FF9432 0%, #FFCF24 100.09%);
        border-radius: 48px;
        text-align: center;
        border: 0px;
        margin-left: 30px;
    }
    
    div.buttons button.btn_clr { 
        display: flex;
        width: 220px;
        height: 55px;
        background: #FFFFFF;
        border: 3px solid #FF9432;
        border-radius: 48px;
        margin-top: 25px;
        margin-left: 30px;
    }
    
    div.buttons button {
        display: flex;
        align-items: center;
        text-align: center;
        font-family: Comfortaa-Regular;
        font-size: 18px;
    }

    div.buttons button img {
        width: 30px;
        height: 30px;
    }
    
    div.contacts {
        font-family: Comfortaa-Regular;
        font-style: normal;
        font-size: 36px;
        margin: 100px auto 0 auto;
        text-align: center;
        align-items: center;
    }
    
    p.cont {
        display: flex;
        justify-content: center;
        font-family: Comfortaa-Regular;
        font-size: 24px;
    }
    
    p.cont::before {
        margin: auto;
        content: '';
        display: inline-block;
        width: 38px;
        height: 3px;
        background-color: #FF9432;
        margin-right: 12px;
    }
    
    p.cont::after {
        margin: auto;
        content: '';
        display: inline-block;
        width: 38px;
        height: 3px;
        background-color: #FF9432;
        margin-left: 12px;
    }
    
    
    div.info {
        display: block;
        margin: 0px;
        height: 520px;
    }
    
    
    div.map {
        position: relative;
        width: 375px;
        height: 350px;
        background-image: url(../img/map376.png);
    }
    
    div.map img.heart {
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 2;
        top: 120px;
        left: 235px;
    }
    
    div.map img.shadow {
        width: 50px;
        height: 50px;
        position: absolute;
        z-index: 1;
        top: 143px;
        left: 238px;
    }
    
    div.cont {
        display: block;
        columns: 2;
        font-size: 14px;    
        width: 375px;
        height: 165px;
        background-color: #FF9432;
    }
    
    div.cont p {
        margin: 20px 0 0 30px;
        color: #FFFFFF;
    }
    
    div.cont p:first-child {
        margin: 20px 0 0 30px;
    }
    
    .p1 {
        width: 180px;;
    }
    
    .p2 {
        width: 140px;
    }
    
    .p3 {
        width: 100px;
    }
    
    .p4 {
        width: 120px;
    }
    
    footer {
        width: 100%;
        height: 160px;
        background: #864000;
        justify-content: center;
        text-align: center;
        margin-top: -12px;
    }
    
    footer div.socials {
        margin: auto;
        display: flex;
        justify-content: space-between;
        width: 200px;
        padding-top: 60px;
    }

    footer div.socials img:hover {
        background-color: #FF9432;
        color: #FF9432;
    }
    
    footer p {
        text-align: center;
        font-family: Comfortaa-Regular;
        font-size: 18px;
        color: #FFFFFF;
    }
    
    /* pop-up */
    
    .popup-bg {
        position: fixed; 
        top: 0; 
        left: 0; 
        width: 100%; 
        height: 100%;
        background: rgba(0,0,0,0.8);
        display: none;
    }
    
    .popup {
        position: absolute;
        background: #ffffff;
        width: 370px;
        height: 600px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Comfortaa-Regular;
    }
    
    .popup-border {
        width: 350px;
        height: 580px;
        border-radius: 50px;
        border: 2px dashed #FF9432;
    }
    
    .order-a-call {
        display: flex;
        font-size: 20px;
        color: #FF9532;
        justify-content: center;
    }
    
    .order-a-call p{
        display: flex;
        font-size: 20px;
        color: #FF9532;
        margin-bottom: 10px;
    }
    
    .order-a-call img{
        position: absolute;
        top: 50px;
        right: 30px;
        cursor: pointer;
    }
    
    .inputs {
        display: inline-block;
    }
    
    .inputs li {
        display: block;
        justify-content: left;
        font-size: 18px;
        margin-bottom: 30px;
    }
    
    .inputs li span {
        margin-bottom: 10px;
    }
    
    .inputs li input{
        width: 290px;
        height: 45px;
        background: #FFF9F3;
        border: 2px solid #FF9432;
        border-radius: 50px;
        font-family: Comfortaa-Regular;
        font-size: 30px;
        line-height: 33px;
        color: #000000;
        padding-left: 10px;
        margin-top: 10px;
    }
    
    .inputs li:last-child input {
        height: 100px ;
    }
    
    div.popup_order {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .popup_btn_order {
        width: 200px;
        height: 70px;
        align-items: center;
        justify-content: center;
        font-family: Comfortaa-Regular;
        font-size: 24px;
        color: #F4F5FF;
        background: linear-gradient(90deg, #FF9432 0%, #FFD232 100%);
        border: 0px;
        border-radius: 50px;
    }
    
    .no-scroll {
        overflow-y: hidden;
    }
    }