@font-face {
    font-family: 'Comfortaa-Regular';
    src: url(../fonts/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: 'Comfortaa-Bold';
    src: url(../fonts/Comfortaa-Bold.ttf);
}

@import url(default.css);

body {
    max-width: 1440px;
}

header {
    display: flex;
    width: 1440px;
    margin: 0 auto;
    background-color: #FDFDFD;
}

img.logo {
    margin-left: 100px;
    margin-top: 18px;
    margin-bottom: 18px;
}

div.logoText {
    font-family: Comfortaa-Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    margin-left: 32px;
    color: #FF9432;
    margin-right: 133px;
}

nav {
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

ul.topNav {
    list-style-type: none;
    font-family: Comfortaa-Regular;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: black;
}

ul.topNav li {float: left;}

ul.topNav li a {
    display: inline-block;
    text-align: center;
    padding-right: 77px;
    color: black;
}

div.appointment {
    position: absolute;
    width: 506px;
    height: 668px;
    left: 102px;
    top: 243px;
    background: #FFFFFF;
    border-radius: 50px;
    margin: 0 auto;
}

div.border {
    width: 480px;
    height: 640px;
    border-radius: 50px;
    border: dashed 3px #FF9432;
    margin-left: 11px;
    margin-top: 12px;
    text-align: center;
}

div.border p.vetClin {
    font-family: Comfortaa-Regular;
    font-size: 48px;
    text-align: left;
    margin-left: 66px;
    color: #FF9432;
}

div.border pre.with {
    font-family: Comfortaa-Regular;
    font-size: 36px;
    text-align: left;
    margin-left: 66px;
    color: black;
    margin-bottom: 0px;
}

div.border input.signUp {
    width: 398px;
    height: 54px;
    background: linear-gradient(90deg, #FF9432 0%, #FFD232 99.99%, rgba(255, 148, 50, 0) 100%, #FFCF24 100%);
    border-radius: 30px;
    border: 0px;
    font-family: Comfortaa-Regular;
    font-size: 24px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 74px;
}

div.border input.order {
    width: 398px;
    height: 54px;
    background: #FFFFFF;
    border-radius: 30px;
    border: 2px solid #FF9432;
    font-family: Comfortaa-Regular;
    font-size: 24px;
    line-height: 27px;
    color: #FF9432;
    margin-top: 30px;
}

div.bgPhoto {
    height: 890px;
    width: 1440px;
}

div.services {
    text-align: center;
    margin-top: 100px;
    font-family: Comfortaa-Regular;
    font-style: normal;
    font-size: 48px;
}

p.servP {
    display: flex;
    justify-content: center;
    font-family: Comfortaa-Regular;
    font-size: 48px;
}

p.servP::before {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-right: 32px;
}

p.servP::after {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-left: 32px;
}

p.servP, p.servP::before, p.servP::after {
    display: inline-flex;
    align-items: center;
}

div.serviceItems {
    width: 100%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
}

div.serviceItems div img {
    height: 153px;
    display: flex;
    margin: 0 auto;
}

div.serviceItems div {
    margin: 0 auto;
    font-family: Comfortaa-Regular;
    font-weight: bold;
    font-size: 24px;
}

div.video {
    display: flex;
    margin: 0 auto;
    margin-left: 102px;
}

div.questions {
    font-family: Comfortaa-Regular;
    font-style: normal;
    font-size: 48px;
    margin-top: 100px;
    text-align: center;
}

p.qQuestions {
    display: flex;
    justify-content: center;
    font-family: Comfortaa-Regular;
    font-size: 48px;
}

p.qQuestions::before {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-right: 32px;
}

p.qQuestions::after {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-left: 32px;
}

p.qQuestions, p.qQuestions::before, p.qQuestions::after {
    display: inline-flex;
    align-items: center;
}

div.questionsItems {
    text-align: left;
    display: inline-block;
    margin-top: 30px;
    font-size: 36px;
    margin-bottom: 100px;
}

div.questionsItems div:first-child{
    float: left;
    margin-top: 10px;   
    width: 1000px;
}

div.questionsItems div{
    float: left;
    margin-left: 235px;
    margin-top: 40px;   
    width: 1000px;
}


div.questionsItems div img{
    float: right;
}

p.specP {
    display: flex;
    justify-content: center;
    font-family: Comfortaa-Regular;
    font-size: 48px;
}

p.specP::before {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-right: 32px;
}

p.specP::after {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-left: 32px;
}

p.specP, p.specP::before, p.specP::after {
    display: inline-flex;
    align-items: center;
}

div.specialists {
    font-family: Comfortaa-Regular;
    font-style: normal;
    font-size: 48px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
}

div.specialistsItems {
    text-align: center;
    display: flex;
    margin-top: 30px;
    font-size: 36px;
}


div.specialistsItems div p.name {
    font-weight: bold;
}

div.specialistsItems div {
    margin: 0 auto;
}

div.specialistsItems div.arrows {
    margin-top: 180px;
}

div.mkAppointment {
    text-align: center;
}

div.mkAppointment p.priem {
    text-align: center;
    font-family: Comfortaa-Regular;
    font-size: 48px;
}

p.priem::before {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-right: 32px;
}

p.priem::after {
    content: '';
    display: inline-block;
    width: 58px;
    height: 3px;
    background-color: #FF9432;
    margin-left: 32px;
}

p.priem, p.priem::before, p.priem::after {
    display: inline-flex;
    align-items: center;
}
